* {
  margin: 0;
  padding: 0;
}

body {
  /* height: 100vh; */
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  /* margin-top: 30%; */
}

.high-class {
  background-color: green;
  color: white;
  padding: 50px;
}

.middle-class {
  background-color: blue;
  color: white;
  padding: 50px;
}

.low-class {
  background-color: red;
  color: white;
  padding: 50px;
}
